@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$color: #696980;
$dark-color: #44444f;
$light-color: #ffffff;
$accent-color: #00e593;

$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$bg-accent-color: #5fc9b4;

body {
	font-family: "Roboto Slab", serif;
	font-size: 15px;
	line-height: 24px;
	color: $color;
}
h3 {
	font-size: 24px;
	color: $dark-color;
}

ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.btn {
	display: inline-block;
	border: none;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	&_modifer {
		padding: 13px 0 16px;
		text-decoration: none;
		color: $light-color;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 0.7px;
		background-color: $accent-color;
		background: linear-gradient(to right bottom, #65e49c, #65e4b0);
		border-radius: 3px;
		text-align: center;
	}
	&_substrate_dark {
		box-shadow: inset 0px -2px #59bb88;
	}
	&_substrate_light {
		box-shadow: inset 0px -2px #b2f1be;
	}
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.page-main {
	padding-bottom: 162px;
	background-color: #009b98;
	background-image: url("../img/bg-main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-color;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 177px;
	&__logo {
		display: block;
		width: 138px;
		height: 28px;
		margin-top: -3px;
		background-image: url("../img/logo.svg");
		background-repeat: no-repeat;
	}
	&-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		font-family: "Open Sans", "sans-serif";
		font-size: 16px;
		line-height: 1.2;
		&__item {
			padding-bottom: 5px;
			margin-left: 19.2px;
			border-bottom: 3px solid transparent;
			transition: border-bottom 0.3s;
			cursor: pointer;
			&:hover {
				border-bottom: 3px solid $accent-color;
			}
		}
		&__item.active {
			border-bottom: 3px solid $accent-color;
		}
		&__link {
			display: block;
			box-sizing: border-box;
			padding-top: 5px;
			text-decoration: none;
			color: $light-color;
			letter-spacing: 0.9px;
		}
	}
}

.block-book {
	display: flex;
	justify-content: flex-start;
	&-demo {
		position: relative;
		width: 445px;
		height: 639px;
		flex-basis: 500px;
		border-radius: 3px;
		background-image: url("../img/book1.svg");
		background-repeat: no-repeat;
		&__title {
			position: absolute;
			font-size: 36px;
			text-transform: uppercase;
			top: 118px;
			left: 130px;
			letter-spacing: 1.3px;
			color: $light-color;
			span {
				display: block;
				font-family: "Open Sans", sans-serif;
				text-transform: initial;
				color: $accent-color;
				margin-top: 10px;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.75px;
			}
		}
		&__autor {
			position: absolute;
			bottom: 52px;
			left: 85px;
			font-size: 14px;
			font-family: "Open Sans", sans-serif;
			letter-spacing: 0.7px;
			color: $accent-color;
		}
	}
}

.block-text {
	width: calc(92% - 500px);
	&_width {
		width: calc(92% - 507px);
	}
	small,
	&__name,
	&__description {
		font-family: "Open Sans", "sans-serif";
	}
	&__name {
		margin: 0;
		margin-top: 3px;
		margin-bottom: 30px;
		font-size: 18px;
		letter-spacing: 1.1px;
		line-height: 1;
		&_bottom {
			margin-bottom: 19px;
			margin-top: 0;
		}
		&_top {
			margin-top: 18px;
			margin-bottom: 19px;
		}
	}

	&__title {
		font-size: 48px;
		letter-spacing: 1.6px;
		margin-bottom: 38px;
		font-weight: 700;
		line-height: 1.2;
		color: $dark-color;
		&_light {
			color: $light-color;
		}
		span {
			display: block;
			color: $accent-color;
			margin-top: 10px;
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 1px;
		}
	}
	&__description {
		line-height: 1.6;
		letter-spacing: 0.73px;
		font-size: 15px;
		margin-bottom: 24px;
	}
	&__btn-header {
		margin-top: 23px;
		margin-bottom: 16px;
		padding-left: 27px;
		padding-right: 27px;
	}
	&__btn-autor {
		margin-top: 24px;
		margin-bottom: 23px;
		padding-left: 30px;
		padding-right: 30px;
	}
	small {
		display: block;
		font-style: italic;
		font-size: 12px;
		letter-spacing: 0.6px;
		margin-left: -3px;
	}
	&__items {
		margin-top: 41px;
	}
	&-item {
		& + & {
			margin-top: 55px;
		}
		&__date,
		&__desc {
			font-family: "Open Sans", sans-serif;
		}
		&__date {
			letter-spacing: 0.8px;
			margin-bottom: 4px;
		}
		&__title {
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.96px;
			margin-bottom: 16px;
		}
		&__desc {
			letter-spacing: 0.75px;
			margin-bottom: 24px;
		}
		&__btn {
			padding-left: 34px;
			padding-right: 28px;
		}
	}
}

.page {
	&_autor {
		padding-top: 160px;
		margin-bottom: 160px;
	}
	&_about {
		padding-top: 150px;
		padding-bottom: 253px;
	}
	&_gray {
		background-color: $bg-light-color;
		z-index: -100;
	}
	&_books {
		padding-top: 150px;
		padding-bottom: 155px;
	}
	&_events {
		padding-top: 161px;
		padding-bottom: 180px;
	}
	&_blog {
		padding-top: 154px;
		padding-bottom: 158px;
	}
	&__title {
		font-size: 48px;
		letter-spacing: 2px;
		text-align: center;
		margin-bottom: 13px;
		line-height: 1;
		color: $dark-color;
	}
	&__subtitle {
		font-size: 18px;
		letter-spacing: 0.9px;
		text-align: center;
		color: $accent-color;
		&_books {
			letter-spacing: 1.1px;
		}
	}
	&__block-blog {
		margin-top: 84px;
	}
}

.block-author {
	display: flex;
	justify-content: space-between;
}

.block-ava {
	position: relative;
	&__svg {
		position: absolute;
		display: block;
		z-index: -1;
		right: 0;
		&_left {
			right: initial;
			left: 0;
		}
	}
	&__image {
		display: block;
		margin-top: 48px;
		margin-right: 44px;
		&_left {
			margin-top: 49px;
			margin-right: 0;
			margin-left: 51px;
		}
	}
}

.block-counter {
	display: flex;
	justify-content: space-around;
	margin-top: 173px;
	p {
		text-align: center;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		line-height: 1.4;
		span {
			display: block;
			font-family: "Roboto Slab", serif;
			font-weight: 100;
			font-size: 80px;
			color: $accent-color;
		}
	}
}

.block-about {
	display: flex;
	justify-content: space-between;
	margin-top: 83px;
	&-text {
		flex-basis: 40%;
		h3 {
			margin-bottom: 21px;
			letter-spacing: 1.1px;
		}
		&__social {
			margin-top: 28px;
			margin-left: 2px;
		}
		&__content {
			letter-spacing: 0.8px;
			font-family: "Open Sans", sans-serif;
		}
	}
	&-table {
		flex-basis: 48.8%;
		h3 {
			margin-bottom: 27px;
			letter-spacing: 1px;
		}
		&__btn {
			margin-top: 31px;
			padding-left: 45px;
			padding-right: 45px;
		}
		&__list {
			letter-spacing: 0.8px;
			line-height: 1.55;
			font-family: "Open Sans", sans-serif;
			column-count: 2;
			column-gap: 1.8em;
			counter-reset: number 1;
			li {
				position: relative;
				padding-left: 35px;
				& + li {
					margin-top: 9px;
					counter-increment: number;
				}
				&::before {
					content: counter(number) ". ";
				}
				&::after {
					content: "+";
					width: 22px;
					height: 22px;
					position: absolute;
					left: 0;
					top: 0;
					font-family: "Open Sans", sans-serif;
					text-align: center;
					line-height: 22px;
					color: $light-color;
					background-color: $bg-accent-color;
					cursor: pointer;
				}
			}
		}
	}
	&-social {
		display: flex;
		align-items: center;
		&__title {
			font: bold 18px "Roboto Slab", serif;
			letter-spacing: 1.1px;
			margin-right: 23px;
			color: $dark-color;
		}
		&__list {
			& > li {
				display: inline-block;
				font-size: 18px;
				margin-right: 12px;
				vertical-align: middle;
			}
			a {
				color: $accent-color;
				text-decoration: none;
			}
		}
	}
}

.books {
	&__btn {
		display: block;
		margin: 84px auto 0;
		max-width: 219px;
	}
}

.block-books {
	display: flex;
	justify-content: space-between;
	margin-top: 84px;
	&__item {
		flex-basis: 31.8%;
	}
	&-demo {
		width: 269px;
		height: 409px;
		margin: 0 auto;
		margin-bottom: 35px;
		position: relative;
		background-image: url("../img/book-mini.svg");
		background-repeat: no-repeat;
		border-radius: 3px;
		&__title {
			position: absolute;
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.9px;
			text-transform: uppercase;
			color: $light-color;
			top: 71px;
			left: 34px;
			right: 0;
			text-align: center;
		}
		&__autor {
			position: absolute;
			bottom: 28px;
			left: 80px;
			letter-spacing: 0.6px;
		}
		&__autor,
		span {
			font-size: 12px;
			color: $accent-color;
			font-weight: 400;
			font-family: "Open Sans", sans-serif;
		}
		span {
			display: block;
			margin-top: 6px;
			text-transform: none;
			letter-spacing: 0.7px;
		}
	}
	&-desc {
		text-align: center;
		&__title {
			margin-bottom: 17px;
			letter-spacing: 1px;
		}
		&__content,
		a {
			font-family: "Open Sans", sans-serif;
			margin-bottom: 17px;
			letter-spacing: 0.75px;
		}
		a {
			color: $accent-color;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.3s;
			font-weight: 700;
			&:hover {
				color: $bg-accent-color;
			}
		}
	}
}

.blog {
	&__btn {
		display: block;
		margin: 0 auto;
		margin-top: 84px;
		max-width: 265px;
	}
}

.block-blog {
	display: flex;
	justify-content: space-between;
	&-item {
		flex-basis: 31.5%;
		&__title {
			margin-top: 16px;
			margin-bottom: 3px;
			letter-spacing: 1px;
			font-size: 18px;
		}
		&__desc {
			font-family: "Open Sans", sans-serif;
			letter-spacing: 0.71px;
		}
	}
	&-img {
		position: relative;
		width: 369px;
		height: 224px;
		overflow: hidden;
		img {
			position: absolute;
			left: 50%;   
			top: 50%;
			transform: translate(-50%, -50%);
			width: 369px;
			height: 224px;
			object-fit: cover;
		}
	}
	&-date {
		letter-spacing: 1.1px;
		font-family: "Open Sans", sans-serif;
		margin-bottom: 12px;
		a {
			color: $accent-color;
			text-decoration: none;
		}
	}
}
