@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


$light-color: #ffffff;
$accent-color: #00E593;



body {
    font-family: 'Roboto Slab', serif;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    padding-bottom: 162px;
    background-color: #009B98;
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 178px;
    &__logo {
        display: block;
        width: 138px;
        height: 28px;
        margin-top: -3px;
        background-image: url("../img/logo.svg");
        background-repeat: no-repeat;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end; 
        font-family: 'Open Sans', 'sans-serif';
        &__item {
            padding-bottom: 5px;
            margin-left: 19.2px;
            border-bottom: 3px solid transparent;
            transition: border-bottom .3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            display: block;
            box-sizing: border-box;
            padding-top: 5px;
            text-decoration: none;
            color: $light-color;
            letter-spacing: .9px;
        }
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    &-demo {
        width: 445px;
        height: 639px;
        flex-basis: 500px;
        background-image: url("../img/book1.svg");
        background-repeat: no-repeat;
    } 
}

.block-text {
    width: calc(92% - 500px);
    small, 
    &__name,
    &__description {
        font-family: 'Open Sans', 'sans-serif';
    }
    &__name {
        margin: 0;
        margin-top: 2px;
        margin-bottom: 30px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    &__name_top {
        margin-top: 17px;
        margin-bottom: 19px;
    }
    &__title {
        font-size: 48px;
        letter-spacing: 1.5px;
        margin-bottom: 40px;
        font-weight: 700;
        span {
            display: block;
            color: $accent-color;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: .9px;
        }
    }
    &__description {
        line-height: 1.6;
        letter-spacing: .73px;
        font-size: 15px;
        margin-bottom: 24px;
    }
    &__btn {
        display: block;
        width: 250px;
        padding: 13px 0 15px;
        margin-top: 48px;
        margin-bottom: 18px;
        text-decoration: none;
        color: $light-color;
        font-size: 18px;
        letter-spacing: 0.7px;
        background-color: $accent-color;
        border-radius: 3px;
        text-align: center;
    }
    &__btn_author {
        width: 237px;
        margin-top: 48px;
    }
    small {
        font-style: italic;
        font-size: 12px;
        letter-spacing: .6px;
        margin-left: -3px;
    }
}

.page {
    padding-top: 160px;
}

.block-author {
    display: flex;
    justify-content: space-between;
}

.block-ava  {
    position: relative;
    &__fon {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__image {
        display: block;
        margin-top: 48px;
        margin-right: 45px;
    }
}


