<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bukee</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="./img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="./img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="./img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="./img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="./img/favicons/apple-touch-icon-1024x1024.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./styles/main.css">

    <script src="https://kit.fontawesome.com/544c409c65.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- id каждого блока для быстрого перехода по меню через js -->

    <div id="page-main" class="page-main">

        <header>
            <div class="header">
                <a href="##" class="header__logo"></a>
                <div id="headerMenu" class="header-menu">
                    <ul class="header-list">
                        <li class="header-list__item active"><a class="header-list__link" href="##"
                                data-point="page-main">Home</a></li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="autor">About</a>
                        </li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="about">Contents</a>
                        </li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="books">Books</a>
                        </li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="carousel">Education</a></li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="events">Skills</a>
                        </li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="blog">Portfolio</a>
                        </li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="letter">Clients</a>
                        </li>
                        <li class="header-list__item"><a class="header-list__link" href="##"
                                data-point="footer">Contact</a>
                        </li>
                    </ul>
                </div>
                <button id="showMenu" class="header__btn"></button>
            </div>
        </header>

        <div class="wrap">
            <div class="block-book">
                <div class="block-book-demo">
                    <h3 class="block-book-demo__title">
                        Good book
                        <span>Don’t judge a book by its cover</span>
                    </h3>
                    <p class="block-book-demo__autor">- By Emma Anderson</p>
                </div>
                <div class="block-text">
                    <p class="block-text__name">- By Emma Anderson</p>
                    <h1 class="block-text__title block-text__title_light">BUKEE: THE BOOK
                        <span>A room without books is like a body without a soul</span>
                    </h1>
                    <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Sed ut</p>
                    <a href="##" class="btn btn_modifer btn_substrate_dark block-text__btn-header">Buy this book -
                        $15.00</a>
                    <small>* Some conditions may applicable</small>
                </div>
            </div>
        </div>

    </div>

    <div id="autor" class='page page_autor'>
        <div class="wrap">
            <div class="block-author">
                <div class="block-text">
                    <p class="block-text__name block-text__name_top">- Book Author</p>
                    <h2 class="block-text__title">Emma Anderson
                        <span>A room without books is like a body without a soul</span>
                    </h2>
                    <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Sed ut.</p>
                    <a href="##" class="btn btn_modifer btn_substrate_light block-text__btn-autor">Read full
                        biography</a>
                </div>

                <div class="block-ava block-author__position">
                    <svg class="block-ava__svg" width="435" height="558">
                        <linearGradient id="gradient" x1="0" y1="0" x2="100%" y2="100%">
                            <stop offset="0" stop-color="#446a87"></stop>
                            <stop offset="1" stop-color="#59c3ae"></stop>
                        </linearGradient>
                        <rect width="435" height="558" fill="url(#gradient)"></rect>
                    </svg>
                    <img class="block-ava__image" src="img/avatar.jpg" alt="Фотография автора" width="438px"
                        height="466px">
                </div>
            </div>

            <div class="block-counter">
                <p><span>12</span>Total published books</p>
                <p><span>5</span>Best selling books</p>
                <p><span>15,000</span>Happy readers</p>
            </div>
        </div>
    </div>

    <div id="about" class="page page_gray page_about">
        <div class="wrap">
            <h2 class="page__title">Book Contents</h2>
            <p class="page__subtitle">Let’s see what we have covered in the book</p>
            <div class="block-about">
                <div class="block-about-text">
                    <h3>About the book</h3>
                    <p class="block-about-text__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
                    <div class="block-about-social block-about-text__social">
                        <p class="block-about-social__title">Featured in:</p>
                        <ul class="block-about-social__list">
                            <li><a href="##"><i class="fab fa-stack-overflow"></i></a></li>
                            <li><a href="##"><i class="fab fa-amazon"></i></a></li>
                            <li><a href="##"><i class="fab fa-sass"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-about-table">
                    <h3>Table of contents</h3>
                    <ol class="block-about-table__list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                    </ol>
                    <ol id="moreContentList" class="block-about-table__list block-about-table__list_next">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Labore et dolore magna</li>
                    </ol>
                    <button id="moreContent"
                        class="btn btn_modifer btn_substrate_light block-about-table__btn">More</button>
                </div>
            </div>
        </div>
    </div>

    <div id="books" class="page page_books books">
        <div class="wrap">
            <h2 class="page__title">Other Books</h2>
            <p class="page__subtitle page__subtitle_books">Some books you might be interested in</p>
            <div class="block-books">
                <div class="block-books__item">
                    <div class="block-books-demo">
                        <h3 class="block-books-demo__title">Inception<span>Books are the best friends</span></h3>
                        <p class="block-books-demo__autor">- By Emma Anderson</p>
                    </div>
                    <div class="block-books-desc">
                        <h3 class="block-books-desc__title">Inception</h3>
                        <p class="block-books-desc__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="##" class="block-books-desc__btn">Read more</a>
                    </div>
                </div>
                <div class="block-books__item">
                    <div class="block-books-demo">
                        <h3 class="block-books-demo__title">Fight Club<span>Books are the best friends</span></h3>
                        <p class="block-books-demo__autor">- By Emma Anderson</p>
                    </div>
                    <div class="block-books-desc">
                        <h3 class="block-books-desc__title">Fight Club</h3>
                        <p class="block-books-desc__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="##" class="block-books-desc__btn">Read more</a>
                    </div>
                </div>
                <div class="block-books__item">
                    <div class="block-books-demo">
                        <h3 class="block-books-demo__title">Daredevils<span>Books are the best friends</span></h3>
                        <p class="block-books-demo__autor">- By Emma Anderson</p>
                    </div>
                    <div class="block-books-desc">
                        <h3 class="block-books-desc__title">Daredevils</h3>
                        <p class="block-books-desc__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="##" class="block-books-desc__btn">Read more</a>
                    </div>
                </div>
            </div>
            <a href="##" class="btn btn_modifer btn_substrate_light books__btn">Browse all books</a>
        </div>
    </div>

    <div id="carousel" class="page page_carousel page-carousel">
        <div class="wrap">
            <div class="block-carousel">
                <div class="block-carousel__item">
                    <div class="block-carousel__avatar">
                        <div class="block-carousel__thumb">
                            <img src="../img/feedback.png" alt="Фото автора отзыва">
                        </div>
                        <span class="block-carousel__bq"></span>
                    </div>
                    <h3 class="block-carousel__autor">Kate Dennings</h3>
                    <p class="block-carousel__position">Calligraphy Expert</p>
                    <p class="block-carousel__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                </div>
                <div class="block-carousel__item">
                    <div class="block-carousel__avatar">
                        <div class="block-carousel__thumb">
                            <img src="../img/feedback.png" alt="Фото автора отзыва">
                        </div>
                        <span class="block-carousel__bq"></span>
                    </div>
                    <h3 class="block-carousel__autor">Kate Dennings</h3>
                    <p class="block-carousel__position">Calligraphy Expert</p>
                    <p class="block-carousel__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                </div>
                <div class="block-carousel__item">
                    <div class="block-carousel__avatar">
                        <div class="block-carousel__thumb">
                            <img src="../img/feedback.png" alt="Фото автора отзыва">
                        </div>
                        <span class="block-carousel__bq"></span>
                    </div>
                    <h3 class="block-carousel__autor">Kate Dennings</h3>
                    <p class="block-carousel__position">Calligraphy Expert</p>
                    <p class="block-carousel__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                </div>
            </div>
        </div>
        <svg class="page__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 849">
            <path d="M-1 0l802 61 799-61v789l-799 60-802-60V0z" fill="#44444f" fill-rule="evenodd" /></svg>
    </div>

    <div id="events" class="page page_events">
        <div class="wrap">
            <div class="block-author">
                <div class="block-ava">
                    <svg class="block-ava__svg block-ava__svg_left" width="435" height="704">
                        <linearGradient id="gradient" x1="0" y1="0" x2="100%" y2="100%">
                            <stop offset="0" stop-color="#5ac8b0"></stop>
                            <stop offset="1" stop-color="#436585"></stop>
                        </linearGradient>
                        <rect width="435" height="704" fill="url(#gradient)"></rect>
                    </svg>
                    <img class="block-ava__image block-ava__image_left" src="img/avatar2.jpg" alt="Фотография автора"
                        width="440px" height="606px">
                </div>
                <div class="block-text block-text_width">
                    <p class="block-text__name block-text__name_bottom">- Emma Anderson</p>
                    <h2 class="block-text__title">Upcoming Events
                        <span>Some upcoming events you might be interested in</span>
                    </h2>
                    <div class="block-text__items">
                        <div class="block-text-item">
                            <p class="block-text-item__date">November 21, 2018</p>
                            <h4 class="block-text-item__title">Book signing - San francisco, CA</h3>
                                <p class="block-text-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen
                                    disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                </p>
                                <a class="btn btn_modifer btn_substrate_light block-text-item__btn"
                                    href="##">Redister</a>
                        </div>
                        <div class="block-text-item">
                            <p class="block-text-item__date">November 21, 2018</p>
                            <h4 class="block-text-item__title">Book reading - Los Angeles, CA</h3>
                                <p class="block-text-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen
                                    disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                </p>
                                <a class="btn btn_modifer btn_substrate_light block-text-item__btn"
                                    href="##">Redister</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="blog" class="page page_gray page_blog blog">
        <div class="wrap">
            <h2 class="page__title">Latest from Blog</h2>
            <p class="page__subtitle">Some of the latest posts from my personal blog</p>
            </h2>
            <div class="block-blog">
                <div class="block-blog-item">
                    <div class="block-blog-img"><img src="../img/coffee1.jpg" alt="Фотограф"></div>
                    <h4 class="block-blog-item__title">Importance of light in photography</h4>
                    <div class="block-blog-date">
                        <p>By <a href="##">Emma Anderson</a><span>-</span><a href="##">June 20, 2018</a></p>
                    </div>
                    <p class="block-blog-item__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do
                        eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo</p>
                </div>
                <div class="block-blog-item">
                    <div class="block-blog-img"><img src="../img/coffee2.jpg" alt="Фотоапорат"></div>
                    <h4 class="block-blog-item__title">The tools you need for the perfection</h4>
                    <div class="block-blog-date">
                        <p>By <a href="##">Emma Anderson</a><span> - </span><a href="##">June 25, 2018</a></p>
                    </div>
                    <p class="block-blog-item__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do
                        eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo</p>
                </div>
                <div class="block-blog-item">
                    <div class="block-blog-img"><img src="../img/coffee3.jpg" alt="Девушка"></div>
                    <h4 class="block-blog-item__title">Knowing the difference is important</h4>
                    <div class="block-blog-date">
                        <p>By <a href="##">Emma Anderson</a><span> - </span><a href="##">June 22, 2018</a></p>
                    </div>
                    <p class="block-blog-item__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do
                        eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo</p>
                </div>
            </div>
            <a class="btn btn_modifer btn_substrate_light blog__btn" href="##">Read more in the blog</a>
        </div>
    </div>

    <div id="letter" class="page page_letter">
        <div class="wrap">
            <div class="block-letter page__letter">
                <div class="block-letter-item">
                    <h2 class="block-letter__title">Join Newsletter</h2>
                    <p class="block-letter__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices
                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis</p>
                </div>
                <div class="block-letter-item block-letter-form">
                    <input type="text" class="block-letter__input" placeholder="Enter your email">
                    <button class="btn btn_modifer block-letter__btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="wrap">
            <div class="block-footer">
                <div class="block-footer__item block-footer__item_desc">
                    <a href="##" class="block-footer__logo"></a>
                    <p class="block-footer__text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    <p class="block-footer__copyright">&#169; 2018 Bukee Private Limited.</p>
                </div>
                <div class="block-footer__item">
                    <h2 class="block-footer__title">Useful Links</h2>
                    <ul class="block-footer__list block-footer__list_menu">
                        <li><a href="##">About Bukee</a></li>
                        <li><a href="##">Explore Our Ecosystem</a></li>
                        <li><a href="##">Monthly Community Meetup</a></li>
                        <li><a href="##">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="block-footer__item">
                    <h2 class="block-footer__title">Our Contacts</h2>
                    <ul class="block-footer__list">
                        <li>Amphitheatre Parkway, CA, 94043</li>
                        <li>Call us on: <a href="tel:+4455663322">+4455663322</a></li>
                        <li>Email: <a href="mailto:support@bukee.mail">support@bukee.mail</a></li>
                    </ul>
                    <ul class="block-footer__social">
                        <li><a href="##"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="##"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="##"><i class="fab fa-twitch"></i></a></li>
                        <li><a href="##"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="##"><i class="fab fa-slack-hash"></i></i></a></li>
                        <li><a href="##"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/vendor.js"></script>
    <script>
        $(document).ready(function () {
            
            $('.block-carousel').slick({
                dots: true,
                arrows: false,
            });


            $('#moreContent').click(function () {
                $("#moreContentList").fadeIn("slow");
                $(this).hide();
            });


            function menuClick(event) {
                if (!event.target.closest('a[data-point]')) return;

                headerMenu.querySelectorAll('li').forEach(item => item.classList.remove('active'));
                event.target.parentNode.classList.add('active');
                document.querySelector(`#${event.target.dataset.point}`).scrollIntoView({
                    behavior: "smooth",
                });
                return;
            }
            headerMenu.addEventListener('click', menuClick);


            function menuScroll() {
                setTimeout(() => {
                    if (pageYOffset > 10) return;
                    headerMenu.querySelectorAll('li').forEach(item => item.classList.remove('active'));
                    headerMenu.querySelector('li:first-of-type').classList.add('active');
                }, 100)
            }
            document.addEventListener('scroll', menuScroll);


            showMenu.addEventListener('click', function (event) {
                if (!headerMenu.classList.contains('shownMenu')) {
                    headerMenu.classList.add('shownMenu');
                    let elem = document.createElement('button');
                    headerMenu.append(elem);
                    elem.classList.add('closeBtn');
                    elem.addEventListener('click', function () {
                        headerMenu.classList.remove('shownMenu');
                    })
                }
            })

        });
    </script>
</body>

</html>